Repository rmclabs-io/pythiags-dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, black, isort, flakehell, reqs, devreqs

.pre-commit-config.yaml:

repos:

  - repo: local
    hooks:

    - id: echo
      name: echo 
      language: system
      entry: echo 
      verbose: true
      pass_filenames: true


    - id: avoid-master-commits
      name: Avoid Accidentally commiting to master
      language: system
      verbose: true
      entry: |
        bash -c 'git rev-parse --abbrev-ref HEAD | egrep -v "^master"'
      pass_filenames: false
      always_run: true


  - repo: local
    hooks:
    - id: docformatter
      name: docformatter 
      language: system
      entry: docformatter --in-place
      files: \.pyi?$
      pass_filenames: true

    - id: black
      name: black
      language: system
      entry: dry -q black 
      files: \.pyi?$
      pass_filenames: true

    - id: isort
      name: isort
      language: system
      entry: dry -q isort 
      files: \.pyi?$
      pass_filenames: true

    - id: flakehell
      name: flakehell
      language: system
      entry: dry -q flakehell lint
      files: \.pyi?$
      pass_filenames: true


  - repo: local
    hooks:
    - id: pytest
      name: pytest
      language: system
      entry: pytest
      pass_filenames: false

  - repo: local
    hooks:
    - id: docs-build
      name: Build Documentation
      language: system
      entry: sphinx-build -a -E -j auto docs/src docs/build
      pass_filenames: false

  - repo: local
    hooks:

    - id: reqs
      name: Export requeriments.txt
      language: system
      pass_filenames: false
      files: ^(pyproject.toml|poetry.lock)$
      entry: ./.scripts/export-reqs.sh
      verbose: true

    - id: devreqs
      name: Export requeriments.dev.txt
      language: system
      pass_filenames: false
      files: ^(pyproject.toml|poetry.lock|aptitude*.list)$
      entry: ./.scripts/export-dev-reqs.sh

    - id: build
      name: Build package
      language: system
      pass_filenames: false
      entry: poetry build

feat(PythiaGsCli): timeout running using cli_run (#18)
  src/pythiags/background.py
  src/pythiags/cli.py
  tests/unit/test_cli.py
Due: docformatter, black, isort, flakehell

release: 0.5.6 → 0.6.0
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

feat(app): application-level callback for on_first_frame_out
  src/pythiags/app.py
  src/pythiags/cli.py
  src/pythiags/video.py
Due: docformatter, black, isort, flakehell

feat(app): simplify kivy app on_start
  src/pythiags/app.py
  src/pythiags/video.py
Due: docformatter, black, isort, flakehell

release: 0.6.0 → 0.7.0
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

fix(app): background thread init force app crash (#20)
  src/pythiags/app.py
Due: docformatter, black, isort, flakehell

release: 0.7.0 → 0.7.1
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

feat(app): allow settings resolution on pythiags application
  src/pythiags/app.py
Due: docformatter, black, isort, flakehell

fix(app): allow pipeline play after pausing fails for increased verbosity
  src/pythiags/app.py
  src/pythiags/exc.py
  src/pythiags/video.py
Due: docformatter, black, isort, flakehell

fix(app): pipeline property automativcally defined as get_camera is a requirement
  src/pythiags/app.py
Due: docformatter, black, isort, flakehell

release: 0.7.1 → 0.8.0
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

fix(processor): validate processor using real signature form inspect
  src/pythiags/utils.py
  tests/unit/test_cli.py
Due: docformatter, black, isort, flakehell

fix(logging): avoid crash when using kivy logger in debug mode
  src/pythiags/app.py
  src/pythiags/background.py
Due: docformatter, black, isort, flakehell

style: Reformat Python code
  src/pythiags/background.py
Due: docformatter, black, isort, flakehell

perf(background): avoid enqueuing on falsy content
  src/pythiags/background.py
  src/pythiags/events.py
Due: docformatter, black, isort, flakehell

style: Reformat Python code
  src/pythiags/background.py
  src/pythiags/events.py
Due: docformatter, black, isort, flakehell

release: 0.8.0 → 0.8.1
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

feat(deepstream.iterators): dsanalytics metadata extraction (#24)
  poetry.lock
  pyproject.toml
  src/pythiags/deepstream/iterators.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

release: 0.8.1 → 0.9.0
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

feat(x86): Add support for GPU devices (non jetson-arm)
  README.md
  poetry.lock
  pyproject.toml
Due: reqs, devreqs

release: 0.9.0 → 0.10.0
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

feature(recorder): video recorder with ringbuffer
  .github/workflows/deepstream-jetson.yml
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  .scripts/install-poetry.sh
  docker/arm64.Dockerfile
  docs/src/conf.py
  docs/src/examples.rst
  logs.txt
  poetry.lock
  pyproject.toml
  requirements.dev.txt
  requirements.txt
  src/pythiags/__init__.py
  src/pythiags/_setup.py
  src/pythiags/api.py
  src/pythiags/background.py
  src/pythiags/cli.py
  src/pythiags/headless.py
  src/pythiags/kivy_app.py
  src/pythiags/recorder/__init__.py
  src/pythiags/recorder/record_bin.py
  src/pythiags/recorder/recorder.py
  src/pythiags/recorder/ring_buffer.py
  src/pythiags/stateful.py
  src/pythiags/utils.py
  src/pythiags/video.py
  tests/__init__.py
  tests/bdd/environment.py
  tests/bdd/features/detections.feature
  tests/bdd/features/kivymwe.feature
  tests/bdd/features/video_recorder.feature
  tests/bdd/steps/detections.py
  tests/bdd/steps/kivymwe.py
  tests/bdd/steps/video_recorder.py
  tests/conftest.py
  tests/unit/test_kivy_app.py
  wip.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

release: 0.10.0 → 0.11.0
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

* fix(recorder): allow multiple recorders
  docs/src/examples.rst
  pyproject.toml
  src/pythiags/__init__.py
  src/pythiags/cli.py
  src/pythiags/headless.py
  src/pythiags/recorder/record_bin.py
  src/pythiags/recorder/recorder.py
  src/pythiags/recorder/ring_buffer.py
  src/pythiags/utils.py
  wip.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

fix(recorder): allow multiple videorecorder instances in same pipeline (#33)
  tests/bdd/steps/video_recorder.py
Due: docformatter, black, isort, flakehell

release: 0.11.0 → 0.11.1
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

fix(recorder): allow on_video_finished on multiple calls (#36)
  .github/workflows/deepstream-jetson.yml
  .github/workflows/release.yml
  README.md
  src/pythiags/recorder/recorder.py
  tests/bdd/steps/video_recorder.py
  tests/conftest.py
Due: docformatter, black, isort, flakehell

release: 0.11.1 → 0.11.2
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

feat(recorder): enable recordbin, ringbuffer customization (#39)
  docs/src/conf.py
  docs/src/examples.rst
  docs/src/index.rst
  docs/src/tutorial.rst
  src/pythiags/deepstream/metadata_producers.py
  src/pythiags/producer.py
  src/pythiags/recorder/__init__.py
  src/pythiags/recorder/recorder.py
  src/pythiags/recorder/ring_buffer.py
  src/pythiags/stateful.py
  src/pythiags/utils.py
Due: docformatter, black, isort, flakehell

release: 0.11.2 → 0.12.0
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

fix(recorder): correct recorder poll max delay
  src/pythiags/recorder/recorder.py
Due: docformatter, black, isort, flakehell

ci:force apt update on docs
  .github/workflows/docs.yml
Due: none

build: pin m2r2 subdependency
  .github/workflows/docs.yml
  pyproject.toml
Due: reqs, devreqs

release: 0.12.0 → 0.12.1
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

release: 0.12.1 → 1.0.0
  CHANGELOG.md
  pyproject.toml
  src/pythia/version.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

fix: avoid release creation from ci pipeline
  .github/workflows/ci.yml
Due: none

release: 1.0.0 → 1.0.1
  CHANGELOG.md
  pyproject.toml
  src/pythia/version.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

fix: publish docker images from ci pipeline
  .github/workflows/ci.yml
Due: none

release: 1.0.1 → 1.0.2
  CHANGELOG.md
  pyproject.toml
  src/pythia/version.py
Due: docformatter, black, isort, flakehell, reqs, devreqs
