Repository rmclabs-io/pythiags-dev: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, black, isort, flakehell, reqs, devreqs

docformatter:
  name: docformatter
  language: system
  entry: docformatter --in-place
  pass_filenames: true

black:
  name: black
  language: system
  entry: dry -q black
  pass_filenames: true

isort:
  name: isort
  language: system
  entry: dry -q isort
  pass_filenames: true

flakehell:
  name: flakehell
  language: system
  entry: dry -q flakehell lint
  pass_filenames: true

reqs:
  name: Export requeriments.txt
  language: system
  pass_filenames: false
  entry: ./.scripts/export-reqs.sh
  verbose: true

devreqs:
  name: Export requeriments.dev.txt
  language: system
  pass_filenames: false
  entry: ./.scripts/export-dev-reqs.sh

docs(readme) small typo
  README.md
Due: none

ci(info): added release info
  .github/workflows/release-info.yml
Due: none

docs(staging): publish to netlify app
  .github/workflows/deepstream-jetson.yml
  .scripts/docs-build.sh
  .scripts/docs-deploy.py
Due: docformatter, black, isort, flakehell

fix(ci): use cr pat correct secret
  .github/workflows/release-info.yml
Due: none

build(docker): unignored docs src folder
  .dockerignore
Due: none

docs: badges
  .github/workflows/deepstream-jetson.yml
  README.md
  docs/src/conf.py
  poetry.lock
  pyproject.toml
Due: docformatter, black, isort, flakehell, reqs, devreqs

lint
  .github/workflows/release.yml
  requirements.dev.txt
  src/pythia/deepstream/config_parsing.py
Due: docformatter, black, isort, flakehell

style: Reformat Python code
  src/pythia/deepstream/config_parsing.py
Due: docformatter, black, isort, flakehell

style: auto
  src/pythia/deepstream/config_parsing.py
  src/pythia/models.py
Due: docformatter, black, isort, flakehell

build(pyproject): shoot 0.4.3
  pyproject.toml
Due: reqs, devreqs

doc(test): include pytest and coverage as iframe
  docs/src/coverage.rst
  docs/src/tests.rst
Due: none

refactor(configparser): move functions inside main cls
  src/pythia/deepstream/config_parsing.py
Due: docformatter, black, isort, flakehell

docs(deploy): use same deploy strat for staging and prod
  .github/workflows/deepstream-jetson.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .scripts/docs-build.sh
Due: none

release: 0.4.3 → 0.5.0
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

fix(deploy): wron version verification command in deploy pipeline (#8)
  .github/workflows/deepstream-jetson.yml
Due: none

refactor(name)!: pythiags (#9)
  .github/workflows/release.yml
  README.md
  pyproject.toml
Due: reqs, devreqs

fix(refactor): moved src to pythiags (#12)
  .github/workflows/code-quality.yml
  .github/workflows/deepstream-jetson.yml
  .github/workflows/docs.yml
  .github/workflows/jetson.yml.bkp
  .github/workflows/release.yml
  .gitignore
  Makefile
  README.md
  docker/arm64.Dockerfile
  docker/docker-compose.yml
  docs/src/conf.py
  docs/src/examples.rst
  docs/src/index.rst
  pyproject.toml
  src/pythia/__main__.py
  src/pythiags/__init__.py
  src/pythiags/__main__.py
  src/pythiags/api.py
  src/pythiags/app.py
  src/pythiags/background.py
  src/pythiags/cli.py
  src/pythiags/consumer.py
  src/pythiags/deepstream/__init__.py
  src/pythiags/deepstream/config_parsing.py
  src/pythiags/deepstream/iterators.py
  src/pythiags/deepstream/metadata_producers.py
  src/pythiags/deepstream/parsers.py
  src/pythiags/events.py
  src/pythiags/exc.py
  src/pythiags/headless.py
  src/pythiags/models.py
  src/pythiags/producer.py
  src/pythiags/utils.py
  src/pythiags/video.py
  tests/fixtures/pipeline_nvinfer.gstp
  tests/fixtures/sample_parser.py
  tests/paths.py
  tests/test_system.py
  tests/unit/test_pythia.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

fix(bump): avoid installing project before versionbump (#13)
  .github/workflows/release.yml
Due: none

release: 0.5.0 → 0.5.1
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

fix(docs): build documentation instead of isort
  .github/workflows/deepstream-jetson.yml
Due: none

ci(ds-jetson): added pypi publish
  .github/workflows/deepstream-jetson.yml
Due: none

release: 0.5.1 → 0.5.2
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

fix(deps): allow pypi publish (#14)
  .github/workflows/deepstream-jetson.yml
  TODO
  poetry.lock
  pyproject.toml
Due: reqs, devreqs

release: 0.5.2 → 0.5.3
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

fix(pep8names): ensure class names after pythia refactor are CamelCase (#15)
  docs/src/conf.py
  requirements.dev.txt
  requirements.txt
  src/pythiags/api.py
  src/pythiags/app.py
  src/pythiags/cli.py
  src/pythiags/headless.py
Due: docformatter, black, isort, flakehell

release: 0.5.3 → 0.5.4
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

test: unit testing skeleton
  tests/fixtures/sample_parser.py
  tests/test_meta.py
  tests/unit/test_api.py
  tests/unit/test_app.py
  tests/unit/test_background.py
  tests/unit/test_cli.py
  tests/unit/test_consumer.py
  tests/unit/test_dunder_main.py
  tests/unit/test_events.py
  tests/unit/test_exc.py
  tests/unit/test_headless.py
  tests/unit/test_init.py
  tests/unit/test_models.py
  tests/unit/test_producer.py
  tests/unit/test_utils.py
  tests/unit/test_video.py
Due: docformatter, black, isort, flakehell

refactor: increased api verbosity
  src/pythiags/api.py
Due: docformatter, black, isort, flakehell

fix(headless): fix: headless mode startup and closing routine
  src/pythiags/api.py
  src/pythiags/headless.py
Due: docformatter, black, isort, flakehell

refactor: moved processor validation function into utils
  src/pythiags/cli.py
  src/pythiags/events.py
  src/pythiags/utils.py
  src/pythiags/video.py
Due: docformatter, black, isort, flakehell

refactor: tests
  pyproject.toml
  src/pythiags/cli.py
  src/pythiags/video.py
  tests/test_meta.py
  tests/unit/test_cli.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

test: implemented behave framework inside pytest
  poetry.lock
  pyproject.toml
  tests/bdd/environment.py
  tests/bdd/features/tutorial.feature
  tests/bdd/steps/tutorial.py
  tests/conftest.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

tests: refactor tests into subfolders
  tests/bdd/__init__.py
  tests/meta/__init__.py
  tests/meta/test_meta.py
  tests/meta/test_system.py
  tests/unit/test_cli.py
Due: docformatter, black, isort, flakehell

tests: renamed gstlaunch feature
  tests/bdd/features/pygstlaunch.feature
  tests/bdd/steps/pygstlaunch.py
Due: docformatter, black, isort, flakehell

WIP: midway clenaing pythia launch
  pyproject.toml
  src/pythiags/app.py
  src/pythiags/cli.py
  src/pythiags/models.py
  src/pythiags/types.py
  tests/__init__.py
  tests/bdd/environment.py
  tests/bdd/features/kivymwe.feature
  tests/bdd/steps/kivymwe.py
  tests/bdd/steps/pygstlaunch.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

style: Reformat Python code
  src/pythiags/api.py
  src/pythiags/app.py
  src/pythiags/cli.py
  src/pythiags/events.py
  src/pythiags/models.py
  src/pythiags/types.py
  src/pythiags/utils.py
  src/pythiags/video.py
  tests/__init__.py
  tests/bdd/environment.py
  tests/bdd/steps/kivymwe.py
  tests/bdd/steps/pygstlaunch.py
  tests/conftest.py
  tests/fixtures/sample_parser.py
  tests/meta/test_meta.py
  tests/unit/test_cli.py
Due: docformatter, black, isort, flakehell

fix(cli): pygst-launch working with Gobject and kivy backends
  README.md
  docs/src/examples.rst
  pyproject.toml
  requirements.dev.txt
  src/pythiags/__init__.py
  src/pythiags/app.py
  src/pythiags/background.py
  src/pythiags/cli.py
  src/pythiags/headless.py
  src/pythiags/models.py
  src/pythiags/types.py
  src/pythiags/video.py
  tests/__init__.py
  tests/bdd/__init__.py
  tests/bdd/features/kivymwe.feature
  tests/bdd/features/pygstlaunch.feature
  tests/bdd/steps/kivymwe.py
  tests/bdd/steps/pygstlaunch.py
  tests/conftest.py
  tests/unit/test_cli.py
Due: docformatter, black, isort, flakehell, reqs, devreqs

release: 0.5.4 → 0.5.5
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

fix(cli): improve attachment of processors (#17)
  src/pythiags/background.py
  src/pythiags/cli.py
  src/pythiags/utils.py
  tests/bdd/features/detections.feature
  tests/bdd/steps/detections.py
Due: docformatter, black, isort, flakehell

release: 0.5.5 → 0.5.6
  CHANGELOG.md
  pyproject.toml
Due: reqs, devreqs

Path conditions:
  docformatter: any of: \.pyi?$
  black: any of: \.pyi?$
  isort: any of: \.pyi?$
  flakehell: any of: \.pyi?$
  reqs: any of: ^(pyproject.toml|poetry.lock)$
  devreqs: any of: ^(pyproject.toml|poetry.lock|aptitude*.list)$
